aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
stamp-h1
INSTALL
install-sh
libtool
ltmain.sh
ar-lib
m4
missing
py-compile
test-driver
Makefile
Makefile.in
.deps
.libs
*.lo
*.la
*.trs
*.pyc
